/**
 * File:        _typography.scss
 * Description: _typography.scss contains all text styles for makeitso 
 * Author:      Sebastiaan Bonardt - @_sebbon
 */

 body {
    font-size:100%;
    font-family:$base-font-family;
    color:$baseFontColour;
 }